#categories 
{ float: left;
  width: 400px;
}

input 
{ padding:5px; 
  border:1px solid #999; 
  border-radius:4px; 
  -moz-border-radius:4px; 
  -web-kit-border-radius:4px; 
  -khtml-border-radius:4px; 
}

a #front_ok_click, #front_cancel_click, #back_ok_click, #back_cancel_click
{ width: 25px;
  height: 25px;
}